*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('assets/background.jpeg');
    color: red;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.score{
    font-size: 4em;
    margin-bottom: .5em;
}
.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
}
.hole{
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0, 0, 0, .3),
                0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}
.hole .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
/* Cursor hammer style. Heb ik deze video voor inspiratie gebruikt. Ik heb ook veel overlegd met andere studenten. https://www.google.com/search?sca_esv=bc11e83389bb529e&rlz=1C5CHFA_enNL1072NL1074&sxsrf=ACQVn09a-TrDnkePf6RxaiItMzs-KGFZcg:1711290879884&q=how+to+change+cursor+style+in+css&tbm=vid&source=lnms&prmd=vinbmtz&sa=X&ved=2ahUKEwiOq4Koj42FAxXPhP0HHc8kALYQ0pQJegQIFBAB&biw=1710&bih=896&dpr=2#fpstate=ive&vld=cid:3e82130d,vid:rfpRZ2t_BrQ,st:0 */
.cursor{
    height: 150px;
    width: 140px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('assets/hammer.png');
    background-size: 100% 100%;
    transform: translate(-30%, -30%);
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

.hearts {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.hearts img {
    width: 100px; 
    margin: 0 5px; 
    transition: opacity 0.5s ease-in-out;
}

h1 {
    font-size:100px;
    font-family:fantasy;
    padding:20px;
    padding-bottom:5px;
    border-radius:500px;    
}

p {
    transform: translateX(15%);
    font-size:20px; 
}

a {
    font-size:50px;
    color:white;
    font-family:fantasy;
    padding:10px;
    background-color:black;
    border-radius:200px;
    transform: translateX(70%);
    margin-top:30px;
    position:absolute;
    text-decoration:none;
}

.molestory {
    width:35%;
    transform:translateY(-20%);
    margin: 40px;
}

#introbutton {
    transform:translateY(250%)
}

.moleloss {
    width:30%;
    position:absolute;
    transform:translateY(-80%);
}

.molewin {
    width:30%;
    transform:translateY(-20%);
}   

.winbutton {
    bottom:10px;
    transform:translateX(0%);
} 

#warning {
    font-weight:bold;
    transform:translateX(0%)
}

